@import url(fonts.css);
@import url(common.css);

/* tekshirish: footeri tepasida ingichka chizig chiqvotti  */
.footer{
    background: #252B42;
    padding-top: 34px;
}
.footer_cards-1_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}
.footer_cards-1_cards_card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_cards-1_cards_card-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0em;
    color: #ffffff;
}
.footer_cards-1_cards_card-txt{
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color:#ffffff;
}
.footer_cards-1_cards_card-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.01em;
    text-align: center;
    color:#ffffff;
    border-radius: 5px;
    padding: 15px 40px;
    width: 163px;
    height: 52px;
    background:#23A6F0;
}
.footer_cards-2{
    padding: 50px 0px;
    background: linear-gradient(270deg, #d71489 0%, #004788 100%);
}
.footer_cards-2_cards{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer_cards_cards_card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 148px;
    
}
.footer_cards_cards_card-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color:#ffffff;
}
.footer_cards-1_cards_card-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_cards-1_cards_card-item{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    color:#ffffff;
}
.footer_cards_cards_card_1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 321px;
}
.footer_cards-1_cards_card-item_1{
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer_cards-1_cards_card-item-link{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    color:#ffffff;
}
.footer_cards-3 >.container{
    padding: 25px 0px;
    display: flex;
    /* container ishlamiyapti */
    justify-content: space-between;
}

.footer_cards-3-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    color:#ffffff;
}
.footer_cards-3_cards-list{
    display: flex;
    align-items: center;
    gap: 20px;
}